$tokiiro:           #f4b3c2; // 鴇色(ときいろ)
$usugaki:           #d4acad; // 薄柿(うすがき)
$yurushiiro:        #e1a9ab; // 聴色・許色(ゆるしいろ)
$nijiiro:           #f6bfbc; // 虹色(にじいろ)
$sangoiro:          #f5b1aa; // 珊瑚色(さんごいろ)
$akaume:            #f5b1aa; // 赤梅(あかうめ)
$mizugaki:          #e4ab9b; // 水柿(みずがき)
$momoiro:           #f09199; // 桃色(ももいろ)
$momozome:          #f09199; // 桃染(ももぞめ)
$kobaiiro:          #f2a0a1; // 紅梅色(こうばいいろ)
$usubeni:           #f0908d; // 薄紅(うすべに)
$tsubomikobai:      #f0908d; // 蕾紅梅(つぼみこうばい)
$barairo:           #e9546b; // 薔薇色(ばらいろ)
$karakurenai:       #e95464; // 韓紅・韓紅花・唐紅(からくれない)
$masoo:             #ec6d71; // 真朱・真赭・真朱(まそお)
$jinzamomi:         #ee827c; // 甚三紅(じんざもみ)
$usukiake:          #df7163; // 浅緋(うすきあけ)
$usukihi:           #df7163; // 浅緋(うすきひ)
$sangoshuiro:       #ee836f; // 珊瑚朱色(さんごしゅいろ)
$masoho:            #d57c6b; // 真赭(まそほ)
$entan:             #ec6d51; // 鉛丹(えんたん)
$entaniro:          #ec6d51; // 鉛丹色(えんたんいろ)
$tokicha:           #ec6d51; // 鴇茶(ときちゃ)
$araishu:           #d0826c; // 洗朱(あらいしゅ)
$akebonoiro:        #f19072; // 曙色(あけぼのいろ)
$shinonomeiro:      #f19072; // 東雲色(しののめいろ)
$koikuchiba:        #ff5234; // 濃朽葉(こいくちば)
$magaibeni:         #fb3c02; // 粉紅(まがいべに)
$aka:               #e60033; // 赤・緋・紅・朱(あか)
$kaidoiro:          #f9204d; // 海棠色(かいどういろ)
$shojohi:           #e2041b; // 猩々緋(しょうじょうひ)
$kyohiiro:          #ff251e; // 京緋色(きょうひいろ)
$shichiryosome:     #c51c2f; // 七両染(しちりょうそめ)
$ake:               #ba2636; // 朱・緋(あけ緋・真緋)
$yokoshoku:         #cc2f3a; // 洋紅色(ようこうしょく)
$beniaka:           #d9333f; // 紅赤(べにあか)
$akaneiro:          #b7282e; // 茜色(あかねいろ)
$akabeni:           #c53d43; // 赤紅(あかべに)
$usukurenai:        #c53d43; // 薄紅(うすくれない)
$kesshoku:          #d20a13; // 血色(けっしょく)
$shuan:             #d20a13; // 朱殷(しゅあん)
$kokiake:           #c9171e; // 深緋(こきあけ)
$kokihi:            #c9171e; // 深緋(こきひ)
$shusha:            #e73931; // 朱砂(しゅしゃ)
$omoiiro:           #d91e10; // 思色(おもいいろ)
$momi:              #e83929; // 紅絹・紅(もみ)
$benihi:            #e83929; // 紅緋(べにひ)
$beni:              #cf3525; // 紅(べに)
$beniiro:           #cf3525; // 紅色(べにいろ)
$akani:             #ce5242; // 赤丹(あかに)
$hiiro:             #d3381c; // 火色・緋色(ひいろ)
$wani:              #b43219; // 埴(はに)
$tsuge:             #b43219; // 埴(つげ)
$nisebeni:          #c62b0c; // 似紅(にせべに)
$akacha:            #bb5535; // 赤茶(あかちゃ)
$kabairo:           #cd5e3c; // 樺色(かばいろ)
$terigaki:          #eb6238; // 照柿(てりがき)
$asasuou:           #a25768; // 浅蘇芳(あさすおう)
$imayoiro:          #d0576b; // 今様色(いまよういろ)
$enji:              #b94047; // 臙脂(えんじ)
$akasuou:           #b95054; // 赤蘇芳(あかすおう)
$suou:              #9e3d3f; // 蘇芳(すおう)
$ebiaka:            #ac2424; // 海老赤(えびあか)
$kurenainoyashio:   #ac2424; // 紅の八塩(くれないのやしお)
$kuriumecha:        #cc5959; // 栗梅茶(くりうめちゃ)
$beniebicha:        #a73836; // 紅海老茶(べにえびちゃ)
$ginshu:            #c85554; // 銀朱(ぎんしゅ)
$azukiiro:          #96514d; // 小豆色(あずきいろ)
$kusuriiro:         #a03731; // 薬色(くすりいろ)
$suoko:             #a86965; // 蘇芳香(すおうこう)
$beniebicha2:       #91453f; // 紅海老茶(べにえびちゃ)
$akaganeiro:        #8c4841; // 銅色(あかがねいろ)
$tobiiro:           #95483f; // 鳶色・鴟色・鵄色(とびいろ)
$benitobi:          #9a493f; // 紅鳶(べにとび)
$benikabairo:       #bb5548; // 紅樺色(べにかばいろ)
$chairo:            #965042; // 茶色(ちゃいろ)
$kurikanecha:       #b14329; // 栗金茶(くりかねちゃ)
$suzumecha:         #aa4f37; // 雀茶(すずめちゃ)
$shudonamakabe:     #915847; // 朱土生壁(しゅどなまかべ)
$sodenkaracha:      #a16d5d; // 宗伝唐茶(そうでんからちゃ)
$benikakiiro:       #a24629; // 紅柿色(べにかきいろ)
$rengairo:          #b55233; // 煉瓦色(れんがいろ)
$koikurenai:        #a22041; // 濃紅(こいくれない)
$shinku:            #a22041; // 真紅・深紅(しんく)
$momijiiro:         #a61017; // 紅葉色(もみじいろ)
$zakuro:            #762034; // 柘榴・柘榴(ざくろ)
$ichigoiro:         #8b2f45; // 苺色(いちごいろ)
$shido:             #753035; // 紫土(しど)
$koetsucha:         #773328; // 光悦茶(こうえつちゃ)
$kogareiro:         #773328; // 焦色(こがれいろ)
$ebicha:            #773c30; // 海老茶(えびちゃ)
$kuriume:           #852e19; // 栗梅(くりうめ)
$bengarairo:        #8f2e14; // 弁柄色(べんがらいろ)
$sabiiro:           #6c3524; // 錆色(さびいろ)
$akasabiiro:        #8a3319; // 赤錆色(あかさびいろ)
$shitaniro:         #5c2d36; // 紫檀色(したんいろ)
$ebicha2:           #6c2c2f; // 葡萄茶(えびちゃ)
$azukicha:          #6b3e3f; // 小豆茶(あずきちゃ)
$tangaracha:        #76413c; // 丹柄茶(たんがらちゃ)
$tobicha:           #76413c; // 鳶茶(とびちゃ)
$benihiwada:        #7b4741; // 紅檜皮(べにひわだ)
$susutakeiro:       #6f514c; // 煤竹色(すすたけいろ)
$kurikawacha:       #6d3c32; // 栗皮茶(くりかわちゃ)
$sekikasshoku:      #683f36; // 赤褐色(せっかっしょく)
$sekkashoku:        #683f36; // 赤褐色(せっかっしょく)
$saganezu:          #8f6769; // 嵯峨鼠(さがねず)
$shiinibiiro:       #836364; // 椎鈍色(しいにびいろ)
$beninezu:          #a06f70; // 紅鼠(べにねず)
$azukinezu:         #a06f70; // 小豆鼠(あずきねず)
$nezucha:           #9b7877; // 鼠茶(ねずちゃ)
$tokinsusudake:     #896361; // とうきん煤竹(とうきんすすだけ)
$keshiaka:          #896361; // 滅赤(けしあか)
$haiaka:            #8f6361; // 灰赤(はいあか)
$miyakonezu:        #8e655f; // 都鼠(みやこねず)
$momoyamacha:       #875b4e; // 桃山茶(ももやまちゃ)
$babairo:           #875b4e; // 糞色(ばばいろ)
$hitoeume:          #de8397; // 一重梅(ひとえうめ)
$choshuniro:        #c97586; // 長春色(ちょうしゅんいろ)
$nakanokurenai:     #e891a3; // 中紅花(なかのくれない)
$umenezu:           #c099a0; // 梅鼠(うめねず)
$hagiiro:           #cf747b; // 萩色(はぎいろ)
$hanezu:            #df9d9f; // 朱華・唐棣花・棠棣(はねず)
$arasome:           #d69090; // 退紅(あらそめ)
$tokiasagi:         #b88884; // 鴇浅葱(ときあさぎ)
$hisameiro:         #e09285; // 緋褪色(ひさめいろ)
$sakeiro:           #ef9683; // 鮭色(さけいろ)
$tokigaracha:       #e09e87; // ときがら茶(ときがらちゃ)
$tokigaracha2:      #e09e87; // 鴇唐茶(ときがらちゃ)
$shigarakicha:      #c18772; // 信楽茶(しがらきちゃ)
$nishiiro:          #d7a98c; // 辛螺色(にしいろ)
$akairo:            #d7a98c; // 赤色(あかいろ)
$akashirotsurubami: #d7a98c; // 赤白橡(あかしろつるばみ)
$tsukisome:         #e0a37e; // 桃花染・桃花褐(つきそめ)
$shiracha:          #ddbb99; // 白茶(しらちゃ)
$usukou:            #f3bf88; // 淡香(うすこう)
$kareiro:           #e0c38c; // 枯色(かれいろ)
$shirotsurubami:    #cbb994; // 白橡(しろつるばみ)
$kurumizome:        #a58f86; // 胡桃染(くるみぞめ)
$ginsusutake:       #856859; // 銀煤竹(ぎんすすたけ)
$senchairo:         #8c6450; // 煎茶色(せんちゃいろ)
$senjichairo:       #8c6450; // 煎茶色(せんじちゃいろ)
$umezome:           #b48a76; // 梅染(うめぞめ)
$edonezu:           #928178; // 江戸鼠(えどねず)
$namakabenezu:      #836a5c; // 生壁鼠(なまかべねず)
$kyarasusudake:     #8d6448; // 伽羅煤竹(きゃらすすだけ)
$karacha:           #8d6449; // 枯茶(からちゃ)
$fushizome:         #b28c6e; // 柴染(ふしぞめ)
$fushiiro:          #b28c6e; // 柴色(ふしいろ)
$matsusome:         #a68868; // 松染(まつそめ)
$kojikairo:         #7e6a4c; // 小鹿色(こじかいろ)
$utsubushiiro:      #9d896c; // 空五倍子色(うつぶしいろ)
$rokocha:           #8c7042; // 路考茶(ろこうちゃ)
$namakabeiro:       #94846a; // 生壁色(なまかべいろ)
$higosusudake:      #897858; // 肥後煤竹(ひごすすだけ)
$chojisusudake:     #807050; // 丁子煤竹(ちょうじすすだけ)
$nigairo:           #93866c; // 苦色(にがいろ)
$akuiro:            #9e9478; // 灰汁色(あくいろ)
$chakasshoku:       #664032; // 茶褐色(ちゃかっしょく)
$kogecha:           #6f4b3e; // 焦茶(こげちゃ)
$kuroume:           #643219; // 黒梅(くろうめ)
$kurocha:           #583822; // 黒茶(くろちゃ)
$ebi:               #583822; // 葡萄・蒲萄(えび)
$ebicha3:           #583822; // 葡萄茶・海老茶・蝦茶(えびちゃ)
$kogarashicha:      #735642; // 木枯茶・凩茶(こがらしちゃ)
$kigaracha:         #765c47; // 黄枯茶(きがらちゃ)
$mukashikaracha:    #61462e; // 昔唐茶(むかしからちゃ)
$rakkocha:          #685643; // 猟虎茶(らっこちゃ)
$utsufushiiro:      #736250; // 空五倍子色(うつふしいろ)
$kabachairo:        #726250; // 樺茶色(かばちゃいろ)
$kanzecha:          #685641; // 観世茶(かんぜちゃ)
$kobicha:           #716246; // 媚茶(こびちゃ)
$shikocha:          #5c4f2c; // 市紅茶(しこうちゃ)
$shinsaicha:        #5c4f2c; // 新斎茶(しんさいちゃ)
$shakudoiro:        #752100; // 赤銅色(しゃくどういろ)
$kakicha:           #954e2a; // 柿茶(かきちゃ)
$karacha2:          #783c1d; // 唐茶・枯茶(からちゃ)
$tetsusabiiro:      #8e3809; // 鉄錆色(てつさびいろ)
$nabeshimakaki:     #8e3809; // 鍋島柿(なべしまかき)
$oukasshoku:        #98502a; // 黄渇色(おうかっしょく)
$kuriiro:           #762f07; // 栗色(くりいろ)
$shakudoiro2:       #762f07; // 赤銅色(しゃくどういろ)
$sugizome:          #5f2c0d; // 杉染(すぎぞめ)
$ochibairo:         #7d4b28; // 落葉色(おちばいろ)
$kasshoku:          #8a3b00; // 褐色(かっしょく)
$tabakoiro:         #7e5737; // 煙草色(たばこいろ)
$jinkoiro:          #815731; // 沈香色(じんこういろ)
$kuwacha:           #956f29; // 桑茶(くわちゃ)
$karewairo:         #956f29; // 枯葉色(かれはいろ)
$kinsusutake:       #7c5b0c; // 金煤竹(きんすすたけ)
$shibucha:          #715c23; // 渋茶(しぶちゃ)
$komurasaki:        #4d1a06; // 小紫・濃紫(こむらさき)
$ko-hi-iro:         #4d1a06; // 珈琲色(コーヒーいろ)
$honooiro:          #c44303; // 炎色(ほのおいろ)
$yamamomoiro:       #b38000; // 楊梅色・山桃色(やまももいろ)
$so:                #ab6953; // 赭(そお)
$soho:              #ab6953; // 赭(そほ)
$hiwadairo:         #965036; // 檜皮色(ひわだいろ)
$danjurocha:        #9f563a; // 団十郎茶(だんじゅうろうちゃ)
$kakishibuiro:      #9f563a; // 柿渋色(かきしぶいろ)
$benikoji:          #ab4a24; // 紅柑子(べにこうじ)
$kaki:              #975e45; // 柿(かき)
$kakiiro:           #975e45; // 柿色(かきいろ)
$kawarakeiro:       #c37854; // 土器色(かわらけいろ)
$tonocha:           #9f6f55; // 砺茶・砥茶・礪茶(とのちゃ)
$chojicha:          #b4866b; // 丁子茶(ちょうじちゃ)
$usucha:            #b78161; // 薄茶(うすちゃ)
$shibugamiiro:      #946243; // 渋紙色(しぶがみいろ)
$kurumiiro:         #a86f4c; // 胡桃色(くるみいろ)
$hajiiro:           #b77b57; // 櫨色・黄櫨色(はじいろ)
$rakudairo:         #bf794e; // 駱駝色(らくだいろ)
$haicha:            #98623c; // 灰茶(はいちゃ)
$kogareko:          #ae7c58; // 焦香(こがれこう)
$edocha:            #cd8c5c; // 江戸茶(えどちゃ)
$tsuchiiro:         #bc763c; // 土色(つちいろ)
$beniukon:          #cb8347; // 紅鬱金(べにうこん)
$mamegaracha:       #a78465; // 豆殻茶(まめがらちゃ)
$biwacha:           #ae7c4f; // 枇杷茶(びわちゃ)
$chojizome:         #ad7d4c; // 丁字染(ちょうじぞめ)
$kozome:            #ad7d4c; // 香染(こうぞめ)
$chojizome2:        #ad7d4c; // 丁子染(ちょうじぞめ)
$shikancha:         #ad7e4e; // 芝翫茶(しかんちゃ)
$umecha:            #9b7853; // 梅茶(うめちゃ)
$kitsuneiro:        #c38743; // 狐色(きつねいろ)
$kuwairoshiracha:   #b39469; // 桑色白茶(くわいろしらちゃ)
$kuchibairo:        #917347; // 朽葉色(くちばいろ)
$kitsurubami:       #b68d4c; // 黄橡(きつるばみ)
$kigaracha2:        #b98c46; // 黄唐茶(きがらちゃ)
$kigaracha3:        #b98c46; // 黄枯茶・黄唐茶・黄雀茶(きがらちゃ)
$oudoiro:           #c39143; // 黄土色(おうどいろ)
$satsumanezu:       #9e875e; // 薩摩鼠(さつまねず)
$washibamiiro:      #bfa46f; // 榛色(はしばみいろ)
$hisagizome:        #cfa85c; // 比佐宜染・久木染(ひさぎぞめ)
$naikisusudake:     #a28d5a; // ないき煤竹(ないきすすだけ)
$kuwasome:          #b79b5b; // 桑染(くわそめ)
$ni:                #e45e32; // 丹(に)
$niiro:             #e45e32; // 丹色(にいろ)
$kakiiro2:          #ed6d3d; // 柿色(かきいろ)
$shojocha:          #c04d21; // 猩々茶(しょうじょうちゃ)
$benikuchiba:       #c9582c; // 紅朽葉(べにくちば)
$sha:               #d25e2c; // 赭(しゃ)
$shao:              #d1561b; // 赭黄・柘黄(しゃおう)
$kabazakura:        #f56a29; // 樺桜(かばざくら)
$mikancha:          #cf6a38; // 蜜柑茶(みかんちゃ)
$koro:              #d66a35; // 黄櫨(こうろ)
$korozen:           #d66a35; // 黄櫨染(こうろぜん)
$taisha:            #bb5520; // 代赭(たいしゃ)
$kanariairo:        #db8449; // 金糸雀色(かなりあいろ)
$akakuchiba:        #db8449; // 赤朽葉(あかくちば)
$akakuchibairo:     #db8449; // 赤朽葉色(あかくちばいろ)
$kicha:             #e17b34; // 黄茶(きちゃ)
$saregaki:          #cf752c; // 茜柿(されがき)
$hondagaki:         #cf752c; // 本多柿(ほんだがき)
$chujakuiro:        #cf752c; // 鍮石色(ちゅうじゃくいろ)
$kowakuiro:         #bf783a; // 琥珀色(こはくいろ)
$bekkoiro:          #de9a41; // 鼈甲色(べっこういろ)
$rancha:            #d9912d; // 蘭茶(らんちゃ)
$iwanuiro:          #ffb02a; // 不言色(いわぬいろ)
$kikuchiba:         #d3a243; // 黄朽葉(きくちば)
$kikuchibairo:      #d3a243; // 黄朽葉色(きくちばいろ)
$yamabukicha:       #c89932; // 山吹茶(やまぶきちゃ)
$hajizome:          #d9a62e; // 櫨染(はじぞめ)
$kinaka:            #ea5506; // 金赤(きんあか)
$akadaidai:         #ea5506; // 赤橙(あかだいだい)
$shuiro:            #eb6101; // 朱色(しゅいろ)
$urumishu:          #eb6101; // 潤朱(うるみしゅ)
$kiaka:             #ec6800; // 黄赤(きあか)
$ninjiniro:         #ec6800; // 人参色(にんじんいろ)
$daidaiiro:         #ee7800; // 橙色(だいだいいろ)
$akakuchinashi:     #f08300; // 赤支子(あかくちなし)
$wasuregusa:        #f08300; // 忘れ草(わすれぐさ)
$mikaniro:          #f08300; // 蜜柑色(みかんいろ)
$ranouiro:          #f69e22; // 卵黄色(らんおういろ)
$kincha:            #f39800; // 金茶(きんちゃ)
$yamabukiiro:       #f8b500; // 山吹色(やまぶきいろ)
$ouni:              #ee7948; // 黄丹(おうに)
$usukuchiba:        #ff9740; // 淡朽葉(うすくちば)
$yamatogaki:        #fe9c41; // 大和柿(やまとがき)
$kojiiro:           #f6ad49; // 柑子色(こうじいろ)
$kokiki:            #ffb333; // 深黄(こきき)
$kuchinashiiro:     #fbca4d; // 支子色(くちなしいろ)
$enshunezu:         #ca8269; // 遠州鼠(えんしゅうねず)
$enshucha:          #ca8269; // 遠州茶(えんしゅうちゃ)
$nikkeiro:          #dd7a56; // 肉桂色(にっけいろ)
$nikkeiiro:         #dd7a56; // 肉桂色(にっけいいろ)
$sohi:              #e0815e; // 纁(そひ)
$kokikuchinashi:    #eb9b6f; // 深支子(こきくちなし)
$komugiiro:         #e49e61; // 小麦色(こむぎいろ)
$kyarairo:          #d8a373; // 伽羅色(きゃらいろ)
$anzuiro:           #f7b977; // 杏色(あんずいろ)
$kanzoiro:          #f8b862; // 萱草色(かんぞういろ)
$keikanseki:        #ffc06a; // 鶏冠石(けいかんせき)
$ameiro:            #deb068; // 飴色(あめいろ)
$tomorokoshiiro:    #eec362; // 玉蜀黍色(とうもろこしいろ)
$hanabairo:         #fbd26b; // 花葉色(はなばいろ)
$kinmitsuda:        #fbd26b; // 金密陀(きんみつだ)
$tamagoiro:         #fcd575; // 卵色(たまごいろ)
$mitsudaso:         #f1cb66; // 密陀僧(みつだそう)
$shishiiro:         #efab93; // 宍色(ししいろ)
$ikkonzome:         #f5b199; // 一斤染(いっこんぞめ)
$konoegaki:         #ffac8c; // 近衛柿(このえがき)
$akakou:            #f6b894; // 赤香(あかこう)
$hitoiro:           #f1bf99; // 人色(ひといろ)
$nikuiro:           #f1bf99; // 肉色(にくいろ)
$sharegaki:         #f7bd8f; // 洒落柿(しゃれがき)
$yuo:               #f9c89b; // 雄黄(ゆうおう)
$usuki:             #f0cfa0; // 薄黄(うすき)
$usukou2:           #f0cfa0; // 薄香(うすこう)
$koiro:             #efcd9a; // 香色(こういろ)
$choji:             #efcd9a; // 丁子(ちょうじ)
$chojiiro:          #efcd9a; // 丁字色(ちょうじいろ)
$hachimitsuiro:     #fddea5; // 蜂蜜色(はちみついろ)
$araigaki:          #f2c9ac; // 洗柿(あらいがき)
$sharegaki2:        #ecd4c2; // 洒落柿(しゃれがき)
$wadairo:           #fce2c4; // 肌色(はだいろ)
$usutamagoiro:      #fde8d0; // 薄卵色(うすたまごいろ)
$amairo:            #d6c6af; // 亜麻色(あまいろ)
$usuki2:            #edd3a1; // 浅黄(うすき)
$kaineri:           #ffeece; // 掻練・皆練(かいねり)
$tonokoiro:         #f4dda5; // 砥粉色(とのこいろ)
$torinokoiro:       #fff1cf; // 鳥の子色(とりのこいろ)
$sunairo:           #dcd3b2; // 砂色(すないろ)
$mushiguriiro:      #ebe1a9; // 蒸栗色(むしぐりいろ)
$ominaeshi:         #f2f2b0; // 女郎花(おみなえし)
$donkoshoku:        #e8eaa8; // 嫩黄色(どんこうしょく)
$wakameiro:         #e0ebaf; // 若芽色(わかめいろ)
$tanko:             #f8e58c; // 淡黄(たんこう)
$mugiwarairo:       #e5db97; // 麦藁色(むぎわらいろ)
$wakanairo:         #d8e698; // 若菜色(わかないろ)
$kizuisen:          #f2d675; // 黄水仙(きずいせん)
$kariyasuiro:       #f5e56b; // 刈安色(かりやすいろ)
$ioiro:             #f1e266; // 硫黄色(いおういろ)
$kiwadairo:         #fef263; // 黄檗色(きはだいろ)
$sogairo:           #f3f47f; // 承和色(そがいろ)
$wakanaeiro:        #c7dc68; // 若苗色(わかなえいろ)
$kikuchinashi:      #ffdb4f; // 黄支子(きくちなし)
$kikuchinashiiro:   #ffdb4f; // 黄支子色(きくちなしいろ)
$nanowanairo:       #ffec47; // 菜の花色(なのはないろ)
$himawariiro:       #fcc800; // 向日葵色(ひまわりいろ)
$kiiro:             #ffd900; // 黄色(きいろ)
$tanpopoiro:        #ffd900; // 蒲公英色(たんぽぽいろ)
$chuki:             #ffea00; // 中黄(ちゅうき)
$ukoniro:           #fabf14; // 鬱金色(うこんいろ)
$too:               #f7c114; // 藤黄(とうおう)
$kogane:            #e6b422; // 黄金(こがね)
$kiniro:            #e6b422; // 金色(きんいろ)
$konjiki:           #e6b422; // 金色(こんじき)
$kanariairo2:       #ebd842; // 金糸雀色(かなりあいろ)
$ryokuoushoku:      #dccb18; // 緑黄色(りょくおうしょく)
$hiwairo:           #d7cf3a; // 鶸色(ひわいろ)
$remoniro:          #f3f133; // レモン色(れもんいろ)
$kimidori:          #b8d200; // 黄緑(きみどり)
$wakakusairo:       #c3d825; // 若草色(わかくさいろ)
$kinezu:            #a0873c; // 黄鼠(きねず)
$kayairo:           #a0873c; // 茅色・萱色(かやいろ)
$rikyuucha:         #a59564; // 利休茶(りきゅうちゃ)
$karashiiro:        #d0af4c; // 芥子色・辛子色(からしいろ)
$aburairo:          #a19361; // 油色(あぶらいろ)
$nataneyuiro:       #a69425; // 菜種油色(なたねゆいろ)
$tamagonezu:        #bcad48; // 玉子鼠・卵鼠(たまごねず)
$negishiiro:        #938b4b; // 根岸色(ねぎしいろ)
$aokuchiba:         #ada250; // 青朽葉(あおくちば)
$warairo:           #d5c752; // 藁色(わらいろ)
$aitamago:          #b1a733; // 藍玉子(あいたまご)
$matchairo:         #c5c56a; // 抹茶色(まっちゃいろ)
$yanagiwairo:       #a7b446; // 柳葉色(やなぎはいろ)
$yanagibairo:       #a7b446; // 柳葉色(やなぎばいろ)
$aoni:              #99ab4e; // 青丹・青土(あおに)
$kusairo:           #7b8d42; // 草色(くさいろ)
$yamabukinezu:      #b19a00; // 山吹鼠(やまぶきねず)
$ominaeshi2:        #c2bf00; // 女郎花(おみなえし)
$uguisucha:         #715c1f; // 鶯茶(うぐいすちゃ)
$rikancha:          #6a5d21; // 璃寛茶(りかんちゃ)
$baikocha:          #887938; // 梅幸茶(ばいこうちゃ)
$fukujucha:         #887938; // 福寿茶(ふくじゅちゃ)
$uguisuiro:         #928c36; // 鶯色(うぐいすいろ)
$kokuboshoku:       #7b6c3e; // 国防色(こくぼうしょく)
$chojinezu:         #746d4e; // 丁子鼠(ちょうじねず)
$kanranshoku:       #72672e; // 橄欖色(かんらんしょく)
$kuretakenezu:      #665d22; // 呉竹鼠(くれたけねず)
$susutakecha:       #665d22; // 煤竹茶(すすたけちゃ)
$miruiro:           #726d40; // 海松色(みるいろ)
$riyuuiro:          #8f8667; // 利休色・利久色(りきゅういろ)
$kimirucha:         #918754; // 黄海松茶(きみるちゃ)
$miruai:            #918754; // 海松藍(みるあい)
$hiwacha:           #8c8861; // 鶸茶(ひわちゃ)
$rouiro:            #9b9969; // 蠟色(ろういろ)
$yanagicha:         #a1a46d; // 柳茶(やなぎちゃ)
$oimidori:          #787a59; // 老緑(おいみどり)
$mokuranjiki:       #c7b370; // 木蘭色(もくらんじき)
$karekusairo:       #e4dc8a; // 枯草色(かれくさいろ)
$naeiro:            #b0ca71; // 苗色(なえいろ)
$wakabairo:         #b9d08b; // 若葉色(わかばいろ)
$yanagiiro:         #a8c97f; // 柳色(やなぎいろ)
$wasabiiro:         #a8bf93; // 山葵色(わさびいろ)
$usumoegi:          #93ca76; // 淡萌黄・薄萌葱・薄萌葱(うすもえぎ)
$yanagizome:        #93b881; // 柳染(やなぎぞめ)
$urahairo:          #94b090; // 裏葉色(うらはいろ)
$urabairo:          #94b090; // 裏葉色(うらばいろ)
$wakamidori:        #98d98e; // 若緑(わかみどり)
$hanamoegi:         #88cb7f; // 花萌葱(はなもえぎ)
$asamidori:         #88cb7f; // 浅緑(あさみどり)
$kikujin:           #6e7955; // 麹塵(きくじん)
$kagemoegi:         #748450; // 陰萌葱・陰萌黄(かげもえぎ)
$kamogawanezu:      #919f74; // 加茂川鼠(かもがわねず)
$matsubairo:        #839b5c; // 松葉色(まつばいろ)
$kusayanagi:        #6e8252; // 草柳(くさやなぎ)
$oitake:            #769164; // 老竹(おいたけ)
$oitakeiro:         #769164; // 老竹色(おいたけいろ)
$haimidori:         #81a96e; // 灰緑(はいみどり)
$aoyaginezu:        #6f8566; // 青柳鼠(あおやぎねず)
$shimamatsunezu:    #6f8566; // 島松鼠(しままつねず)
$aogoke:            #596a40; // 青苔(あおごけ)
$furucha:           #43552a; // 古茶(ふるちゃ)
$sasairo:           #396122; // 笹色(ささいろ)
$kokeiro:           #69821b; // 苔色(こけいろ)
$ryokuchairo:       #26610f; // 緑茶色(りょくちゃいろ)
$youryokushoku:     #48922f; // 洋緑色(ようりょくしょく)
$souryokushoku:     #2e7e16; // 草緑色(そうりょくしょく)
$nurebairo:         #2e7e16; // 濡葉色(ぬればいろ)
$sanaeiro:          #67a70c; // 早苗色(さなえいろ)
$moegi:             #aacf53; // 萌黄(もえぎ)
$hiwamoegi:         #82ae46; // 鶸萌黄(ひわもえぎ)
$aitonocha:         #5f984d; // 藍砥茶(あいとのちゃ)
$shinryokushoku:    #339933; // 新緑色(しんりょくしょく)
$rokaniro:          #339933; // 琅玕色(ろうかんいろ)
$usumidori:         #69b076; // 薄緑・淡緑(うすみどり)
$natsumushiiro:     #cee4ae; // 夏虫色(なつむしいろ)
$urahayanagi:       #c1d8ac; // 裏葉柳(うらはやなぎ)
$usumoegi2:         #badcad; // 薄萌葱(うすもえぎ)
$iwarokusho:        #50a06e; // 岩緑青(いわろくしょう)
$midori:            #3eb370; // 緑・碧・翠(みどり)
$wakatakeiro:       #68be8d; // 若竹色(わかたけいろ)
$hisuiiro:          #38b48b; // 翡翠色(ひすいいろ)
$wanarokusho:       #00a381; // 花緑青(はなろくしょう)
$aomidori:          #00a497; // 青緑(あおみどり)
$fukamidori:        #00552e; // 深緑(ふかみどり)
$yuzuwairo:         #083a28; // 柚葉色(ゆずはいろ)
$hekiryoku:         #02533b; // 碧緑(へきりょく)
$suishoku:          #013224; // 翠色(すいしょく)
$tetsuiro:          #005243; // 鉄色(てついろ)
$karakaneiro:       #32875c; // 唐金色(からかねいろ)
$tokiwairo:         #007b43; // 常盤色・常磐色(ときわいろ)
$tokiwamidori:      #028760; // 常磐緑(ときわみどり)
$moegiiro:          #006e54; // 萌葱色(もえぎいろ)
$kamonowairo:       #006956; // 鴨の羽色(かものはいろ)
$kujakumidori:      #00786c; // 孔雀緑(くじゃくみどり)
$senzaimidori:      #316745; // 千歳緑(せんざいみどり)
$chitosemidori:     #316745; // 千歳緑(ちとせみどり)
$tokusairo:         #3b7960; // 木賊色(とくさいろ)
$birodo:            #2f5d50; // 天鵞絨(びろうど)
$yamaaizuri:        #38635d; // 山藍摺(やまあいずり)
$kairyokushoku:     #206865; // 海緑色(かいりょくしょく)
$rokushoiro:        #47885e; // 緑青色(ろくしょういろ)
$mizuasagi:         #80aba9; // 水浅葱(みずあさぎ)
$sabiasagi:         #5c9291; // 錆浅葱(さびあさぎ)
$usuao:             #93b69c; // 薄青(うすあお)
$seidoiro:          #7bc496; // 青銅色(せいどういろ)
$seijiiro:          #7ebea5; // 青磁色(せいじいろ)
$chigusairo:        #92b5a9; // 千草色・千種色(ちぐさいろ)
$aotakeiro:         #7ebeab; // 青竹色(あおたけいろ)
$usumizuiro:        #9ed1d3; // 淡水色・薄水色(うすみずいろ)
$byakugun:          #83ccd2; // 白群(びゃくぐん)
$mizuhanada:        #72c1c8; // 水縹(みずはなだ)
$asahanada:         #84b9cb; // 浅縹(あさはなだ)
$wasurenagusa:      #89c3eb; // 勿忘草(わすれなぐさ)
$mizuironezu:       #98aec1; // 水色鼠(みずいろねず)
$seiheki:           #478384; // 青碧(せいへき)
$kyonezu:           #789295; // 京鼠(きょうねず)
$minatonezumi:      #80989b; // 湊鼠(みなとねずみ)
$sabionando:        #53727d; // 錆御納戸(さびおなんど)
$ainezu:            #6c848d; // 藍鼠(あいねず)
$masuwanairo:       #5b7e91; // 舛花色(ますはないろ)
$haiao:             #83959f; // 灰青(はいあお)
$omeshicha:         #43676b; // 御召茶(おめしちゃ)
$korainando:        #2c4f54; // 高麗納戸(こうらいなんど)
$hekishoku:         #184458; // 碧色(へきしょく)
$noshimewanairo:    #426579; // 熨斗目花色(のしめはないろ)
$omeshionando:      #4c6473; // 御召御納戸(おめしおなんど)
$konnezu:           #44617b; // 紺鼠(こんねず)
$konkeshi:          #44617b; // 紺滅(こんけし)
$noshimeiro:        #175b66; // 熨斗目色(のしめいろ)
$kujakuao:          #00708e; // 孔雀青(くじゃくあお)
$aiiro:             #165e83; // 藍色(あいいろ)
$kontetsu:          #034358; // 紺鉄(こんてつ)
$asagiiro:          #00a3af; // 浅葱色(あさぎいろ)
$nandoiro:          #008899; // 納戸色(なんどいろ)
$onando:            #008899; // 御納戸(おなんど)
$usugunjo:          #0094c8; // 薄群青(うすぐんじょう)
$usuai:             #0094c8; // 薄藍(うすあい)
$konpeki:           #007bbb; // 紺碧(こんぺき)
$konbaruiro:        #28a3af; // 金春色(こんばるいろ)
$shinbashiiro:      #59b9c6; // 新橋色(しんばしいろ)
$hanaasagi:         #2a83a2; // 花浅葱(はなあさぎ)
$usubanada:         #507ea4; // 薄縹(うすばなだ)
$ao:                #0095d9; // 青・蒼・碧・藍(あお)
$hanadairo:         #2792c3; // 縹色(はなだいろ)
$amairo2:           #2ca9e1; // 天色(あまいろ)
$tsuyukusairo:      #38a1db; // 露草色(つゆくさいろ)
$usuasagi:          #69c2c7; // 薄浅葱(うすあさぎ)
$sorairo:           #a0d8ef; // 空色(そらいろ)
$kamenozoki:        #a2d7dd; // 瓶覗(かめのぞき)
$mizuiro:           #bce2e8; // 水色(みずいろ)
$hisoku:            #abced8; // 秘色(ひそく)
$hishoku:           #abced8; // 秘色(ひしょく)
$awafujiiro:        #bbc8e6; // 淡藤色(あわふじいろ)
$hekiruri:          #1853b5; // 碧瑠璃(へきるり)
$misorairo:         #3967c4; // み空色(みそらいろ)
$utsushiiro:        #3d6eda; // 移色(うつしいろ)
$soshinezu:         #6d93b9; // 想思鼠(そうしねず)
$usugunjo2:         #5383c3; // 薄群青(うすぐんじょう)
$kakitsubatairo:    #3e62ad; // 杜若色(かきつばたいろ)
$gunjoiro:          #4c6cb3; // 群青色(ぐんじょういろ)
$usuhanazakura:     #5a79ba; // 薄花桜(うすはなざくら)
$iwagunjo:          #2a42a6; // 岩群青(いわぐんじょう)
$hanairo:           #4d5aaf; // 花色(はないろ)
$konkikyo:          #4d5aaf; // 紺桔梗(こんききょう)
$kikyoiro:          #5654a2; // 桔梗色(ききょういろ)
$benikikyo:         #4d4398; // 紅桔梗(べにききょう)
$gosuiro:           #124dae; // 呉須色(ごすいろ)
$ruriiro:           #1e50a2; // 瑠璃色(るりいろ)
$koiai:             #0f2350; // 濃藍(こいあい)
$berensu:           #081941; // 伯林青(べれんす)
$tetsukon:          #17184b; // 鉄紺(てつこん)
$konruri:           #164a84; // 紺瑠璃(こんるり)
$seitai:            #013574; // 青黛・青袋・青代(せいたい)
$seiran:            #274a78; // 青藍(せいらん)
$rurikon:           #19448e; // 瑠璃紺(るりこん)
$koniro:            #223a70; // 紺色(こんいろ)
$kokiwanada:        #2a4073; // 深縹(こきはなだ)
$konruri2:          #213380; // 紺瑠璃(こんるり)
$hanamurasaki:      #392680; // 花紫(はなむらさき)
$konbirodo:         #223d5f; // 紺天鵞絨(こんびろうど)
$aibiroudo:         #1e3859; // 藍天鵞絨(あいびろうど)
$konjo:             #192f60; // 紺青(こんじょう)
$tomekon:           #1c305c; // 留紺(とめこん)
$tomarikon:         #1c305c; // 留紺(とまりこん)
$noukon:            #1f2f54; // 濃紺(のうこん)
$usuwanairo:        #698aab; // 薄花色(うすはないろ)
$benikakewanairo:   #68699b; // 紅掛花色(べにかけはないろ)
$konai:             #4a488e; // 紺藍(こんあい)
$fujinando:         #706caa; // 藤納戸(ふじなんど)
$fujionando:        #706caa; // 藤御納戸(ふじおなんど)
$ouchiiro:          #7a71a2; // 楝色・棟色・樗色(おうちいろ)
$shioniro:          #867ba9; // 紫苑色(しおんいろ)
$aofuji:            #84a2d4; // 青藤(あおふじ)
$benikakesorairo:   #8491c3; // 紅掛空色(べにかけそらいろ)
$benimidori:        #8491c3; // 紅碧・紅緑(べにみどり)
$ajisaiao:          #9093e0; // 紫陽花青(あじさいあお)
$fujimurasaki:      #a59aca; // 藤紫(ふじむらさき)
$washitairo:        #a69abd; // 半色・端色(はしたいろ)
$usubudo:           #c0a2c7; // 薄葡萄(うすぶどう)
$rindoiro:          #9079ad; // 竜胆色(りんどういろ)
$mukugeiro:         #775580; // 槿色(むくげいろ)
$kodaimurasaki:     #895b8a; // 古代紫(こだいむらさき)
$nakanomurasaki:    #573e6d; // 中紫(なかのむらさき)
$budoiro:           #522f60; // 葡萄色(ぶどういろ)
$yukarinoiro:       #5d2369; // 縁色(ゆかりのいろ)
$kuwanomiiro:       #55295b; // 桑の実色(くわのみいろ)
$honmurasaki:       #65318e; // 本紫(ほんむらさき)
$sumireiro:         #7058a3; // 菫色(すみれいろ)
$aomurasaki:        #674598; // 青紫(あおむらさき)
$ayameiro:          #674196; // 菖蒲色(あやめいろ)
$shobuiro:          #674196; // 菖蒲色(しょうぶいろ)
$edomurasaki:       #745399; // 江戸紫(えどむらさき)
$benikikyo2:        #744f97; // 紅桔梗(べにききょう)
$nankinfuji:        #a15dc4; // 南京藤(なんきんふじ)
$murasaki:          #884898; // 紫(むらさき)
$aoiiro:            #9a5fa9; // 葵色(あおいいろ)
$sekichikuiro:      #e5abbe; // 石竹色(せきちくいろ)
$haisakura:         #eebbcb; // 灰桜(はいさくら)
$nadeshikoiro:      #eebbcb; // 撫子色(なでしこいろ)
$usukoubai:         #e597b2; // 薄紅梅(うすこうばい)
$botaniro:          #e7609e; // 牡丹色(ぼたんいろ)
$tsutsujiiro:       #e95295; // 躑躅色(つつじいろ)
$kosumosu:          #f85ca2; // 秋桜(こすもす)
$akamurasaki:       #eb6ea5; // 赤紫(あかむらさき)
$umekasane:         #f73b70; // 梅重(うめかさね)
$kurenai:           #d7003a; // 紅・紅花・呉藍(くれない)
$kyomurasaki:       #9d5b8b; // 京紫(きょうむらさき)
$wakamurasaki:      #bc64a4; // 若紫(わかむらさき)
$umemurasaki:       #aa4c8f; // 梅紫(うめむらさき)
$koshi:             #b44c97; // 紅紫(こうし)
$benimurasaki:      #b44c97; // 紅紫(べにむらさき)
$nakabeni:          #c85179; // 中紅(なかべに)
$shikon:            #460e44; // 紫紺(しこん)
$kaimurasaki:       #550b41; // 貝紫(かいむらさき)
$teiomurasaki:      #61065e; // 帝王紫(ていおうむらさき)
$budoshuiro:        #6b1349; // 葡萄酒色(ぶどうしゅいろ)
$ebiiro:            #640125; // 葡萄色(えびいろ)
$imamurasaki:       #5b2856; // 今紫(いまむらさき)
$enjinezu:          #5b2856; // 臙脂鼠(えんじねず)
$ebi2:              #7a4171; // 蒲葡(えび)
$ebizome:           #7a4171; // 蒲葡・葡萄染(えびぞめ)
$ankoshoku:         #74325c; // 暗紅色・殷紅色(あんこうしょく)
$nasukon:           #824880; // 茄子紺(なすこん)
$futaai:            #915c8b; // 二藍(ふたあい)
$kyofuji:           #a46a92; // 京藤(きょうふじ)
$naniwanezu:        #8c6278; // 浪花鼠(なにわねず)
$botannezu:         #785863; // 牡丹鼠(ぼたんねず)
$benifujiiro:       #cca6bf; // 紅藤色(べにふじいろ)
$ayameiro2:         #cc7eb1; // 菖蒲色(あやめいろ)
$momowanairo:       #e198b4; // 桃花色(ももはないろ)
$shiro:             #ffffff; // 白(しろ)
$gofun:             #fffffc; // 胡粉(ごふん)
$gofuniro:          #fffffc; // 胡粉色(ごふんいろ)
$funshaku:          #fffffc; // 粉錫(ふんしゃく)
$sakurairo:         #fef4f4; // 桜色(さくらいろ)
$sankachitan:       #f8fbf8; // 酸化チタン(さんかチタン)
$wakuji:            #f8fbf8; // 白磁(はくじ)
$unowanairo:        #f7fcfe; // 卯の花色(うのはないろ)
$kinari:            #fbfaf5; // 生成(きなり)
$kinariiro:         #fbfaf5; // 生成色(きなりいろ)
$shinjuiro:         #fffff1; // 真珠色(しんじゅいろ)
$hakudoiro:         #fffff1; // 白銅色(はくどういろ)
$aenka:             #f6fbf6; // 亜鉛華(あえんか)
$enpaku:            #f6fbf6; // 鉛白(えんぱく)
$usuzakura:         #fdeff2; // 薄桜(うすざくら)
$nyuhakushoku:      #f3f3f3; // 乳白色(にゅうはくしょく)
$shironeri:         #f3f3f2; // 白練(しろねり)
$geppaku:           #eaf4fc; // 月白(げっぱく)
$zogeiro:           #f8f4e6; // 象牙色(ぞうげいろ)
$aijiro:            #ebf6f7; // 藍白(あいじろ)
$shirosumireiro:    #eaedf7; // 白菫色(しろすみれいろ)
$sesshoku:          #e9eef3; // 雪色(せっしょく)
$shirawanairo:      #e8ecef; // 白花色(しらはないろ)
$usukuchinashi:     #ebf3dc; // 浅支子・浅梔子(うすくちなし)
$asakuchinashi:     #ebf3dc; // 浅支子・浅梔子(あさくちなし)
$shirayuriiro:      #def3de; // 白百合色(しらゆりいろ)
$murasakisuisho:    #e7e7eb; // 紫水晶(むらさきすいしょう)
$shiraumeiro:       #efe0e8; // 白梅(しらうめいろ)
$soshoku:           #eae5e3; // 素色(そしょく)
$waikimidori:       #e6eae3; // 灰黄緑(はいきみどり)
$shiratsuchi:       #e6eae3; // 白土(しらつち)
$shiraumenezu:      #e5e4e6; // 白梅鼠(しらうめねず)
$shiroiro:          #ede9d8; // 素色(しろいろ)
$motoiro:           #ede9d8; // 素色(もといろ)
$soshoku2:          #ede9d8; // 素色(そしょく)
$sakuranezu:        #e9dfe5; // 桜鼠(さくらねず)
$otomeiro:          #f3cccc; // 乙女色(おとめいろ)
$okinacha:          #e7dcd3; // 翁茶(おきなちゃ)
$neriiro:           #ede4cd; // 練色(ねりいろ)
$kaihakushoku:      #e9e4d4; // 灰白色(かいはくしょく)
$kumoinezu:         #dadfe0; // 雲井鼠・雲居鼠(くもいねず)
$haizakura:         #e8d3d1; // 灰桜(はいざくら)
$shironezu:         #dcdddd; // 白鼠(しろねず)
$shirafujiiro:      #dbd0e6; // 白藤色(しらふじいろ)
$tokinezu:          #e4d2d8; // 鴇鼠(ときねず)
$kinunezu:          #dddcd6; // 絹鼠(きぬねず)
$byakuroku:         #d6e9ca; // 白緑(びゃくろく)
$sobakiriiro:       #d4dcd6; // 蕎麦切色(そばきりいろ)
$usukumonezu:       #d4dcda; // 薄雲鼠(うすくもねず)
$awabenifuji:       #e6cde3; // 淡紅藤(あわべにふじ)
$umenezu2:          #dcd6d9; // 薄梅鼠(うめねず)
$haiume:            #e8d3c7; // 灰梅(はいうめ)
$shiraai:           #c1e4e9; // 白藍(しらあい)
$akatsukinezu:      #d3cfd9; // 暁鼠(あかつきねず)
$botannezu2:        #d3ccd6; // 牡丹鼠(ぼたんねず)
$karenoiro:         #d3cbc6; // 枯野色(かれのいろ)
$komachinezu:       #cbcdcd; // 小町鼠(こまちねず)
$fujiiro:           #bbbcde; // 藤色(ふじいろ)
$chigusanezu:       #bed3ca; // 千草鼠(ちぐさねず)
$yanaginezu:        #c8d5bb; // 柳鼠(やなぎねず)
$seijinezu:         #bed2c3; // 青磁鼠(せいじねず)
$budoiro2:          #bed2c3; // 葡萄色(ぶどういろ)
$ginkaishoku:       #c5c5c7; // 銀灰色(ぎんかいしょく)
$haiao2:            #c0c6c9; // 灰青(はいあお)
$kasumiiro:         #c8c2c6; // 霞色(かすみいろ)
$urumiiro:          #c8c2be; // 潤色(うるみいろ)
$suzuiro:           #b5c0c9; // 錫色(すずいろ)
$sabiseiji:         #a6c8b2; // 錆青磁(さびせいじ)
$fujinezu:          #a6a5c4; // 藤鼠(ふじねず)
$usumurasaki:       #c4a3bf; // 浅紫(うすむらさき)
$asamurasaki:       #c4a3bf; // 浅紫(あさむらさき)
$ginnezu:           #afafb0; // 銀鼠(ぎんねず)
$usunibi:           #adadad; // 薄鈍(うすにび)
$riyuushiracha:     #b3ada0; // 利休白茶(りきゅうしらちゃ)
$usuzumiiro:        #a3a3a2; // 薄墨色・淡墨色(うすずみいろ)
$usuiro:            #a89dac; // 薄色(うすいろ)
$giniro:            #a0a0a0; // 銀色(ぎんいろ)
$sunezu:            #9fa0a0; // 素鼠(すねず)
$asaginezu:         #97abac; // 浅葱鼠(あさぎねず)
$suzuiro2:          #9ea1a3; // 錫色(すずいろ)
$shakujo:           #9ea1a3; // 錫紵(しゃくじょ)
$nibiiro:           #9ea1a3; // 鈍色(にびいろ)
$chanezu:           #a99e93; // 茶鼠(ちゃねず)
$aoiro:             #9ba88d; // 青色(あおいろ)
$aoshirotsurubami:  #9ba88d; // 青白橡(あおしろつるばみ)
$fukagawanezumi:    #97a791; // 深川鼠(ふかがわねずみ)
$seitainezu:        #929fa7; // 青袋鼠(せいたいねず)
$soraironezu:       #8e9aab; // 空色鼠(そらいろねず)
$usunezu:           #9790a4; // 薄鼠(うすねず)
$goshonamakabe:     #9792a0; // 御所生壁(ごしょなまかべ)
$imatsuruwa:        #9d92a0; // 今鶴羽(いまつるは)
$kikyonezu:         #95949a; // 桔梗鼠(ききょうねず)
$hatobanezu:        #9e8b8e; // 鳩羽鼠(はとばねず)
$nezumi:            #949495; // 鼠(ねずみ)
$nezumiiro:         #949495; // 鼠色(ねずみいろ)
$mamegaracha2:      #8b968d; // 豆がら茶(まめがらちゃ)
$haimurasaki:       #90879a; // 灰紫(はいむらさき)
$hatobairo:         #95859c; // 鳩羽色(はとばいろ)
$kabenezu:          #9d8682; // 壁鼠(かべねず)
$kijibatoiro:       #988f86; // 雉鳩色(きじばといろ)
$rikyuunezumi:      #888e7e; // 利休鼠(りきゅうねずみ)
$kyogokunamakabe:   #888084; // 京極生壁(きょうごくなまかべ)
$genjinezu:         #888084; // 源氏鼠(げんじねず)
$susuiro:           #887f7a; // 煤色(すすいろ)
$haiiro:            #7d7d7d; // 灰色(はいいろ)
$namariiro:         #7b7c7d; // 鉛色(なまりいろ)
$aogane:            #7b7c7d; // 鉛色(あおがね)
$akunezu:           #836d6d; // 灰汁鼠(あくねず)
$nibiiro2:          #727171; // 鈍色(にびいろ)
$yamabatoiro:       #767c6b; // 山鳩色(やまばといろ)
$aonibi:            #6b7b6e; // 青鈍(あおにび)
$omeshinezu:        #776f76; // 御召鼠(おめしねず)
$chakenezu:         #746b6b; // 茶気鼠(ちゃけねず)
$musasabiiro:       #7c6c66; // 鼯鼠色(むささびいろ)
$ukikusanezu:       #716f68; // 浮草鼠(うきくさねず)
$omeshichiya:       #787661; // 御召茶(おめしちや)
$murasakinezu:      #71686c; // 紫鼠(むらさきねず)
$kizokunezu:        #5d5d74; // 貴族鼠(きぞくねず)
$budonezumi:        #705b67; // 葡萄鼠(ぶどうねずみ)
$keshiiro:          #725b63; // 滅色(けしいろ)
$iwaicha:           #6b6f59; // 岩井茶(いわいちゃ)
$hikonnou:          #5f7058; // 比金襖(ひこんのう)
$tonocha2:          #526f55; // 沈香茶・殿茶(とのちゃ)
$nakanezu:          #57696d; // 中鼠(なかねず)
$gunkachinezu:      #57645a; // 軍勝鼠(ぐんかつねず)
$yanagisusudake:    #5b6356; // 柳煤竹(やなぎすすだけ)
$sumi:              #595857; // 墨(すみ)
$sekibaniro:        #595857; // 石板色(せきばんいろ)
$sumizome:          #595857; // 墨染(すみぞめ)
$katsuguniro:       #5b634e; // 勝軍色(かつぐんいろ)
$dobunezumi:        #595455; // 丼鼠(どぶねずみ)
$dobunezu:          #595455; // 溝鼠・丼鼠(どぶねず)
$rakkoiro:          #635c48; // 猟虎色(らっこいろ)
$kachiiro:          #4d4c61; // 褐色(かちいろ)
$fujisusudake:      #5a5359; // 藤煤竹(ふじすすだけ)
$kokiiro:           #634950; // 濃色(こきいろ)
$yanagisusudakecha: #635b44; // 柳煤竹茶(やなぎすすだけちゃ)
$tetsuonando:       #455765; // 鉄御納戸(てつおなんど)
$edonando:          #61485b; // 江戸納戸(えどなんど)
$mirucha:           #5a544b; // 海松茶(みるちゃ)
$aimirucha:         #56564b; // 藍海松茶(あいみるちゃ)
$sabitetsuonando:   #485859; // 錆鉄御納戸(さびてつおなんど)
$sabinezu:          #47585c; // 錆鼠(さびねず)
$koinezu:           #4f455c; // 濃鼠(こいねず)
$keshizumiiro:      #524e4d; // 消炭色(けしずみいろ)
$aikobicha:         #555647; // 藍媚茶(あいこびちゃ)
$kawairo:           #475950; // 革色(かわいろ)
$murasakitobi:      #5f414b; // 紫鳶・紫飛(むらさきとび)
$benikeshinezu:     #524748; // 紅消鼠(べにけしねず)
$kurotsurubami:     #544a47; // 黒橡(くろつるばみ)
$tetsunezu:         #3e5c54; // 鉄鼠(てつねず)
$keshimurasaki:     #594255; // 滅紫(けしむらさき)
$gunkachiro:        #415546; // 軍勝色(ぐんかついろ)
$mushiao:           #3a5b52; // 虫襖・虫青(むしあお)
$aisumicha:         #474a4d; // 藍墨茶・相済茶(あいすみちゃ)
$ainamakabe:        #454550; // 藍生壁(あいなまかべ)
$kuriiro2:          #554738; // 涅色(くりいろ)
$sensaicha:         #474b42; // 仙斎茶(せんさいちゃ)
$aizuri:            #3c5245; // 藍摺(あいずり)
$kokimurasaki:      #493759; // 深紫(こきむらさき)
$fukamurasaki:      #493759; // 深紫(ふかむらさき)
$sensaicha2:        #494a41; // 千歳茶(せんさいちゃ)
$minatosusudake:    #3f4d41; // 湊煤竹(みなとすすだけ)
$aokachi:           #393e4f; // 青褐・藍褐(あおかち)
$aikachi:           #393e4f; // 青褐・藍褐(あいかち)
$yuushoku:          #404048; // 黝色(ゆうしょく)
$nisemurasaki:      #513743; // 似せ紫(にせむらさき)
$nisemurasaki2:     #513743; // 似紫(にせむらさき)
$kenpoiro:          #543f32; // 憲法色(けんぽういろ)
$kenpo:             #543f32; // 憲法(けんぽう)
$satsumaonando:     #3e4346; // 薩摩御納戸(さつまおなんど)
$aitetsu:           #393f4c; // 藍鉄(あいてつ)
$koinezu2:          #3f3f3f; // 濃鼠(こいねず)
$konezu:            #3f3f3f; // 濃鼠(こねず)
$binroujizome:      #433d3c; // 檳榔子染・檳椰子染(びんろうじぞめ)
$nandocha:          #384d31; // 納戸茶(なんどちゃ)
$tokageiro:         #384d31; // 蜥蜴色(とかげいろ)
$nandonezu:         #354d4b; // 納戸鼠(なんどねず)
$aocha:             #4b4b31; // 青茶(あおちゃ)
$tsurubaminezu:     #49492b; // 橡鼠(つるばみねず)
$aiginsusudake:     #37413d; // 藍銀煤竹(あいぎんすすだけ)
$yokaniro:          #383c3c; // 羊羹色(ようかんいろ)
$aionando:          #2d3446; // 藍御納戸(あいおなんど)
$kurotobi:          #432f2f; // 黒鳶(くろとび)
$waganeiro:         #2a443d; // 鋼色(はがねいろ)
$aiirohatoba:       #492741; // 藍色鳩羽(あいいろはとば)
$akasumi:           #3f312b; // 赤墨(あかすみ)
$kuromidori:        #333631; // 黒緑(くろみどり)
$rikyuunamakabe:    #333631; // 利休生壁(りきゅうなまかべ)
$kachigaeshi:       #203744; // 褐返(かちがえし)
$fukagawaonando:    #203744; // 深川御納戸(ふかがわおなんど)
$matsubanezu:       #2e382a; // 松葉鼠(まつばねず)
$kuronezu:          #2d2d2d; // 黒鼠(くろねず)
$kurobeni:          #302833; // 黒紅(くろべに)
$tsurubami:         #302833; // 橡(つるばみ)
$rouiro2:           #2b2b2b; // 蝋色(ろういろ)
$kuro:              #2b2b2b; // 黒(くろ)
$roiro:             #2b2b2b; // 蠟色・呂色(ろいろ)
$aozumi:            #28282e; // 青墨(あおずみ)
$kuromurasaki:      #2e2930; // 黒紫(くろむらさき)
$shikoku:           #2e2930; // 紫黒(しこく)
$momoshiocha:       #1f3134; // 百入茶・百塩茶(ももしおちゃ)
$rashazomeiro:      #2d252d; // 羅紗染色(らしゃぞめいろ)
$shiushoku:         #2a2223; // 紫烏色(しうしょく)
$hishioiro:         #331818; // 醤色(ひしおいろ)
$yaniiro:           #351916; // 脂色(やにいろ)
$onandocha:         #183335; // 御納戸茶(おなんどちゃ)
$nasukon2:          #331936; // 茄子紺(なすこん)
$gusumi:            #252424; // 具墨(ぐすみ)
$keshizumikuro:     #252020; // 消炭黒(けしずみくろ)
$chamijincha:       #29221d; // 茶微塵茶(ちゃみじんちゃ)
$harizuri:          #2e2713; // 榛摺(はりずり)
$harisome:          #2e2713; // 榛染・蓁(はりそめ)
$binrojikuro:       #20231f; // 檳椰子黒(びんろうじくろ)
$tetsuguro:         #281a14; // 鉄黒(てつぐろ)
$kozumi:            #1f1f19; // 濃墨(こずみ)
$waremoko:          #251219; // 吾亦香(われもこう)
$kuriiro3:          #1a1a19; // 皀色・皁色(くりいろ)
$birodo2:           #0d270d; // 天鵞絨(びろうど)
$mukunomiiro:       #1e1222; // 椋実色(むくのみいろ)
$ankasshoku:        #270809; // 暗褐色(あんかっしょく)
$kenpoukurocha:     #241a08; // 憲法黒茶(けんぽうくろちゃ)
$sumi2:             #171917; // 墨(すみ)
$gokukogecha:       #171310; // 極焦茶(ごくこげちゃ)
$tsurubamisumizome: #171310; // 橡墨染(つるばみすみぞめ)
$kokutan:           #250d00; // 黒檀(こくたん)
$ankokushoku:       #16160e; // 暗黒色(あんこくしょく)
$fushikaneiro:      #16160e; // 五倍子鉄漿色(ふしかねいろ)
$sekiboku:          #16160e; // 石墨(せきぼく)
$karasubairo:       #180614; // 烏羽色(からすばいろ)
$gen:               #0d0d0d; // 玄(げん)
$kurohairo:         #0d0d0d; // 黒羽色(くろはいろ)
$kurogakiiro:       #15050a; // 黒柿色(くろがきいろ)
$shikkoku:          #0d0015; // 漆黒(しっこく)
$karasunonurebairo: #12020e; // 烏の濡羽色(からすのぬればいろ)
$nurebairo2:        #000b00; // 濡羽色(ぬればいろ)
